.game-area {
  position: relative;
  margin: 50px auto;
  width: 400px;
  height: 400px;
  border: 2px solid black;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: black;
  z-index: 2;
  border-radius: 100%;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: red;
  z-index: 1;
  border-radius: 100%;
}

.instructions {  
  z-index: 3;
}