body {
  height: 100%;
  background-image: url("./assets/wallpaper.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  min-height: 100%;
  padding-bottom: 100px;
}

.game-area {
  position: relative;
  margin: 50px auto;
  width: 600px;
  height: 600px;
  border: 40px solid white;
  background-color: whitesmoke;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: black;
  z-index: 2;
  border-radius: 100%;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  z-index: 1;
  border-radius: 100%;
}

.instructions {
  z-index: 3;
}

.about-wall {
  position: absolute;
  left: 30%;
  top: -6%;
  width: 100%;
}

.portfolio-wall {
  position: absolute;
  top: -33.5%;
  bottom: -33.5%;
  transform: rotate(90deg);
}

.contact-wall {
  position: absolute;
  top: 21.5%;
  bottom: 21.5%;
  transform: rotate(-90deg);
}

.play-wall {
  position: absolute;
  left: 29%;
  bottom: -7%;
}

.about-page {
  position: relative;
  margin: 50px auto;
  padding: 50px;
  width: 80%;
  border: 40px solid white;
  background-color: whitesmoke;
}

.profile-image {
  position: relative;
  width: 100%;
  border-radius: 100%;
  display: block;
  margin: auto;
}

@media only screen and (max-width: 1100px) {
  .profile-image {
    width: 50%;
  }
}

@media only screen and (max-width: 700px) {
  .profile-image {
    width: 100%;
  }
}

.portfolio-page {
  position: relative;
  margin: 25px auto;
  padding: 10px;
  width: 80%;
  border: 40px solid white;
  background-color: whitesmoke;
}

.close-port {
  position: absolute;
  right: 10px;
  top: 10px
}